.App {
  width: 280px;
  height: auto;
  background: linear-gradient(#e66465, #9198e5);
  padding: 50px 30px;
  margin-left: 470px;
  margin-top: 110px;
  align-items: center;
  text-align: center;
  display: flex;
  border-radius: 25px;
}

.weight {
  padding: 12px 5px;
}

.weight input{
  width: 180px;
  height: 25px;
  border-radius: 40px;
}

.height {
  padding: 12px 5px;
}

.height input{
  width: 178px;
  height: 25px;
  border-radius: 40px;
}

.buttons {
  justify-content: space-evenly;
  padding: 25px;
  
}

.reload {
  width: auto;
  height: fit-content;
  margin-right: 60px;
  border-radius: 27%;
}

.submit {
  width: auto;
  height: fit-content;
  margin-left: 40px;
  border-radius: 27%;
}

.setMessage {
  color: #e66465;
}

